@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sono:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
.header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #eee;
}
.logo {
    height: 50px;
    padding-left: 40px;
}
.nav-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.nav-ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s ease all;
}
.nav-ul li a:hover {
    color: rgb(13, 143, 13);
}
.nav-icons {
    padding-right: 40px;
}
.nav-icons i {
    margin-left: 20px;
    cursor: pointer;
}
.about {
    padding: 60px 200px;
    text-align: center;
    justify-content: center;
}
.about-title { 
    font-weight: 600;
    font-size: 3.2em;
    color: #3B9742FF;
}
.about p {
    font-size: 13px;
    margin-top: 20px;
    color: #171A1FFF;
}
.our-mission {
    margin-top: 60px;
    background-color: rgb(248, 248, 248);
    padding: 30px;
    border-radius: 10px;
    width: 900px;
}
.title {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 40px;
}
.our-mission i {
    color: #3B9742FF;
    font-size: 1.5em;
    margin-right: 10px;
}
.title-2 {
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 10px;
}
.mission-text p {
    font-size: 12px;
    color: rgb(117, 117, 117);
}
.vision {
    margin-top: 60px;
    padding: 30px;
    border-radius: 10px;
    width: 900px;
}
.vision i {
    color: #3B9742FF;
    font-size: 1.4em;
    margin-right: 10px;
}
.our-core {
    margin-top: 60px;
    padding: 30px;
    border-radius: 10px;
    width: 900px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: #fff;
    width: 15em;
    box-shadow: 0 5px 25px rbga(1 1 1 / 15%);
    padding: 20px 20px 0 20px;
    border-radius: 5px;
    margin: 20px;
    transition: all 0.7s ease;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 5px 25px rgba(1, 1, 1 / 35%);
    transform: translateY(-10px);
    transition: all 0.5s ease;
}
.icon {
    text-align: center;
    font-size: 1.8em;
    color: #3B9742FF;
    margin-bottom: 20px;
}
.info {
    text-align: center;
}
.info h3 {
    font-size: 18px;
    font-weight: 600;
}
.info p {
    font-size: 10px;
    color: #777;
    margin-top: 10px;
    line-height: 1.5em;
}
.core-icon {
    margin-right: 780px;
    cursor: pointer;
    color: #222;
}
.main-footer {
    background: linear-gradient(90deg, #3B9742FF 0%, #6B849EFF 100%); 
    border-radius: 0px 0px 0px 0px; 
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    width: 100%;
}
.footer-lists {
    display: flex;
    gap: 100px;
    margin-right: 50px;
    padding: 20px 50px;
}
.Q-ul {
    list-style: none;
}
.Q-ul li {
    margin-bottom: 10px;
    font-size: 12px;
}
.Q-ul h5 {
    font-size: 18px;
    margin-bottom: 20px;
}
.Q-ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s ease all;
}
.Q-ul li a:hover {
    color: #000;
}

.left-footer {
    margin: 100px 0 0 240px;
    width: 450px;
}
.left-footer p {
    font-size: 13px;
    margin-bottom: 20px;
}
.footer-icons a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 15px;
    transition: 0.3s ease all;
}
.footer-icons a:hover {
    color: #000;
}