@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sono:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url(test.jpg);
    background-size: cover;
    background-position: center;
}
.logo {
    width: 50px;
    height: 70px;
    margin: 12px 10px 20px 20px;
}
.logo-a {
    text-decoration: none;
}
.logo-text {
    color: #3A9742FF;
    font-size: 35px;
    font-weight: 800;
    margin-top: 10px;
}
.login-container {
    width: 448px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 700;
    color: #333;
}
.login-p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #565D6DFF;
}
.f-pass {
    margin-left: 30px;
    text-decoration: none;
    color: black;
}
.login-btn {
    width: 100%;
}